# Exclure les fichiers de base de données
db.sqlite3
*.sqlite3

# Exclure les dossiers des bibliothèques Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Exclure les fichiers de logs
*.log

# Exclure les environnements virtuels
env/
venv/

# Exclure les fichiers de configuration d'IDE (si applicable)
.vscode/
.idea/

# Exclure les fichiers de migration compilés (facultatif)
*/migrations/*.pyc

# Exclure les fichiers secrets
.env
*.env
# Ignorer les fichiers de bibliothèques Python
Lib/site-packages/
